.item {
    border: 1px solid gray;
    margin-bottom: 30px;
}
.image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-image: url('/public/a.jpeg'); */
    width: 100%;
    height: 500px;
}
.info {
    padding: 20px;
}
.info h2 {
    margin-bottom: 5px;
}
.info p {
    margin-bottom: 10px
}